@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
  font-family: 'Roboto', sans-serif;
  background-color: #061336;
  color: #fff;
}

.navbar ul {
  margin: 0;
  padding: 5px 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.navbar ul li svg {
  margin-left: 5px;
}

.navbar ul li:hover {
  color: #a4133c;
  background-color: #ffddd2;
}

@media(max-width: 768px) {
  .navbar {
    display: none;
  }
}
